---
layout: default
nav_active: temoignages
---


<div class="container mx-auto py-4 px-8 sm:px-16">
    <div class="mx-auto max-w-6xl">
        <div class="flex flex-col justify-center space-y-4 md:space-y-8 mb-4 md:mb-8">
            <h1 class="italic text-4xl font-semibold tracking-tight md:text-6xl lg:text-7xl xl:text-8xl">
                Témoignages
            </h1>
            <div class="text-justify">
                <p class="md:text-lg lg:text-xl">
                    Chez l'<span class="font-semibold">Atelier de l’Endurance</span>, chaque parcours est unique, et
                    chaque progrès est une victoire. Derrière chaque plan d’entraînement personnalisé, il y a une
                    histoire, des défis relevés, des objectifs atteints — et parfois même dépassés.
                    <br>
                    Découvre les témoignages des athlètes que nous accompagnons : <em>débutants motivés, passionnés de
                        trail, cyclistes assidus ou triathlètes ambitieux</em>. Ils partagent ici leur expérience, leur
                    évolution et ce que le coaching leur a apporté, tant sur le plan sportif que personnel. Des récits
                    inspirants qui illustrent notre engagement à vos côtés, à chaque étape de votre progression.
                </p>
            </div>

        </div>
        <!-- Content -->
        <div class="space-y-2">
            <p
                class="text-center relative flex w-full text-md md:text-lg font-bold tracking-wider text-blue-600 uppercase justify-center">
                Ne nous croyez pas sur parole
            </p>
            <div class="px-8 h-0.5 bg-gray-500 rounded-full"></div>
        </div>

        <!-- Swiper carousel -->
        <div class="swiper centered-slide-carousel swiper-container relative mt-8">
            <div class="swiper-wrapper flex mb-12">
                {% for testimonial in site.data.testimonials %}
                <div class="swiper-slide">
                    <div
                        class="mx-auto bg-white max-w-xs md:min-w-xs lg:max-w-md md:mx-0 border border-gray-300 rounded-lg shadow-md flex flex-col justify-center">
                        <img class="w-full h-96 object-cover object-top rounded-t-lg"
                            src="{{ testimonial.image | relative_url }}" alt="{{ testimonial.name }}" />
                        <div class="p-5">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
                                {{ testimonial.name }}
                            </h5>
                            <div x-data="{ expanded: false }" class="relative">
                                <div class="text-sm md:text-base text-gray-700 lg:text-justify"
                                    :class="expanded ? '' : 'line-clamp-7'">
                                    {% for paragraph in testimonial.content %}
                                    <p>{{ paragraph }}</p>
                                    {% unless forloop.last %}<br>{% endunless %}
                                    {% endfor %}
                                </div>
                                <button @click="expanded = !expanded" class="text-blue-500 mt-2">
                                    <span x-show="!expanded">Voir plus</span>
                                    <span x-show="expanded">Voir moins</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>